body {
    padding: 0;
    margin: 0;
}
ul
{
    padding: 0;
    margin: 0;
}

.bottom-container {
  width: 100%;
  height: 250px;
  background-color: grey;
  padding: 14px 16px;
  vertical-align: top;
  position: relative;
}

.bottom-text a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'DINPro-Regular',Arial,Helvetica,Verdana,sans-serif;
    position: absolute;
}

.footer{

  width: 100%;
  height: 60px;
  background-color: #343530;
  padding: 14px 16px;
  color: white;
  font-family: 'DINPro-Regular',Arial,Helvetica,Verdana,sans-serif;
}

.topnav {
    background-color: #343530;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

input[type=text] {
    width: 130px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    margin: 10px;
}
